*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 500;

}

body{
    background-color: rgba(25, 97, 179, 0.822);

}

header{
    background-color: rgba(144, 189, 190, 0.822);
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
    padding-left: 5%;
}


li{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 10px;
    flex-wrap: wrap;
}

a{
    color: rgb(24, 75, 185);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    
}

a:hover{
    background-color: rgba(240, 248, 255, 0.534);
    padding: 5px;
    border-radius: 4px;
    transition: ease-in;
}

.login{
    margin-right: 25px;
    background-color: rgb(224, 231, 231);
    color: rgb(41, 40, 40);
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}

button{
    height: 25px;
    width: 90px;
    border: 1px solid rgba(54, 85, 148, 0.397);
}

button:hover{
    background-color: rgb(128, 167, 226);
    color: rgb(255, 255, 255);
}

.fundo{
    display: flex;
    
}

.txt{
    width: 40%;
    margin: 70px;
    padding-top: 50px;
}

h1{
    font-size: 60px;
    color: rgb(248, 246, 244);
    margin: 10px;
}

b{
    color: rgb(29, 49, 165);
    font-weight: 600;
}

p{
    color: rgb(16, 16, 59);
    text-align: justify;
}

.imagemsite img{
    width: 90vh;
    height: 70vh;
    border-radius: 50px;
    margin-top: 40px;
}

.menu-icon{
    display: none;
}

@media (max-width:740px) {

        header{
            background-color: rgb(21, 45, 153);
            position: fixed;
           
        }
        ul{
            transform: translateX(-100%);
            font-size: 30px;
        }

        .fundo{
            flex-direction: column;
            align-items:center;
            
        }    

        .txt{
            width: 100%;
            text-align: center;
            margin: 60px;
            
        }

        b{
            font-size: 80px;
    
        }

        h1{
            font-size: 20px;
        } 

        p{
            text-align: justify;
            margin: 40px;
        }

        .imagemsite img{
            width: 70vh;
            height: 50vh;
            border-radius: 50px;
        }

        img{
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }